<template>
    <default-field :field="field" :errors="errors">
        <template slot="field">
            <div class="flex items-center">
                <search-input
                    v-if="isSearchable && !isLocked && !isReadonly"
                    :data-testid="`${field.resourceName}-search-input`"
                    @input="performTextSearch"
                    @clear="clearSelection"
                    @selected="selectResource"
                    :error="hasError"
                    :value="selectedResource"
                    :data="availableResources"
                    :clearable="field.nullable"
                    trackBy="value"
                    searchBy="display"
                    class="w-full"
                >
                    <div slot="default" v-if="selectedResource" class="flex items-center">
                        <div v-if="selectedResource.avatar" class="mr-3">
                            <img
                                :src="selectedResource.avatar"
                                class="w-8 h-8 rounded-full block"
                            />
                        </div>

                        {{ selectedResource.display }}
                    </div>

                    <div
                        slot="option"
                        slot-scope="{ option, selected }"
                        class="flex items-center"
                    >
                        <div v-if="option.avatar" class="mr-3">
                            <img :src="option.avatar" class="w-8 h-8 rounded-full block"/>
                        </div>

                        {{ option.display }}
                    </div>
                </search-input>

                <select-control
                    v-if="!isSearchable || isLocked || isReadonly"
                    class="form-control form-select w-full"
                    :class="{ 'border-danger': hasError }"
                    :data-testid="`${field.resourceName}-select`"
                    :dusk="field.attribute"
                    @change="selectResourceFromSelectControl"
                    :disabled="isLocked || isReadonly"
                    :options="availableResources"
                    :value="selectedResourceId"
                    :selected="selectedResourceId"
                    label="display"
                >
                    <option value="" selected>{{ placeholder }}</option>
                </select-control>

                <create-relation-button
                    v-if="canShowNewRelationModal"
                    @click="openRelationModal"
                    class="ml-1"
                />
            </div>

            <portal to="modals" transition="fade-transition">
                <create-relation-modal
                    v-if="relationModalOpen && canShowNewRelationModal"
                    @set-resource="handleSetResource"
                    @cancelled-create="closeRelationModal"
                    :resource-name="field.resourceName"
                    :via-relationship="dependsOnRelationship"
                    :via-resource="dependsOnResource"
                    :via-resource-id="dependsOnResourceId"
                    width="800"
                />

                <resource-index-modal
                    v-if="tableModalOpen"
                    @set-resource="handleSetResource"
                    @cancelled-search="closeTableModal"
                    :resource-name="field.resourceName"
                    :via-relationship="dependsOnRelationship"
                    :via-resource="dependsOnResource"
                    :via-resource-id="dependsOnResourceId"
                    :search="search"
                />
            </portal>

            <!-- Trashed State -->
            <div v-if="shouldShowTrashed" class="mt-1">
                <checkbox-with-label
                    :dusk="`${field.resourceName}-with-trashed-checkbox`"
                    :checked="withTrashed"
                    @input="toggleWithTrashed"
                >
                    {{ __('With Trashed') }}
                </checkbox-with-label>
            </div>
        </template>
    </default-field>
</template>

<script>
import ReactiveField from '../../mixins/ReactiveField';
import _ from 'lodash';
import BelongsToField from "@nova/components/Form/BelongsToField";
import ResourceIndexModal from "@ui/components/modal/ResourceIndexModal";

export default {
    extends: BelongsToField,
    mixins: [ReactiveField],
    components: {ResourceIndexModal},

    data: _ => ({
        dependsOnValue: null,
        tableModalOpen: false
    }),

    created() {
        this.ignoreOnLoadEmit = false;
    },

    mounted() {
        Nova.$on(
            `${this.field.resourceName}:create-resource`,
            this.triggerCreateResource
        );

        Nova.$on(
            `${this.field.resourceName}:select-resource`,
            this.selectResourceFromTable
        );

        this.watches('selectedResourceId');
    },

    computed: {
        // @override BelongToField
        shouldSelectInitialResource() {
            return Boolean(
                this.editingExistingResource || this.creatingViaRelatedResource || this.dependsOnValue
            )
        },

        // @override BelongToField
        queryParams() {
            return {
                params: {
                    current: this.selectedResourceId,
                    first: this.initializingWithExistingResource,
                    search: this.search,
                    withTrashed: this.withTrashed,
                    dependsOnValue: this.dependsOnValue,
                },
            }
        },

        isSearchable() {
            return this.field.searchable || this.field.searchableTable;
        },

        isSearchableTable() {
            return this.field.searchableTable;
        },

        dependsOnResourceId() {
            return this.dependsOnValue
                || this.field.dependsOnResourceId
                || this.viaResourceId;
        },

        dependsOnResource() {
            return this.dependsOnResourceId
                ? this.field.dependsOnResource || this.viaResource
                : '';
        },

        dependsOnRelationship() {
            return this.dependsOnResourceId
                ? this.field.dependsOnRelationship || this.viaRelationship : '';
        }
    },

    methods: {
        openTableModal() {
            this.tableModalOpen = true;
        },

        closeTableModal() {
            this.tableModalOpen = false;
        },

        performTextSearch(search) {
            if (this.field.searchableTable) {
                const trimmedSearch = search.trim();
                if (trimmedSearch !== '') {
                    this.search = trimmedSearch;
                    return this.openTableModal();
                }
            }

            this.performSearch(search);
        },

        triggerCreateResource() {
            this.closeTableModal();
            this.openRelationModal();
        },

        // @override BelongsToField
        selectResource(resource) {
            this.selectedResource = resource;
            this.broadcast(resource.value);
        },

        selectResourceFromTable(resource) {
            this.closeTableModal();
            this.selectResource(resource);
        },

        // @override BelongsToField
        clearSelection() {
            this.selectedResource = '';
            this.availableResources = [];
            this.broadcast('');
        },

        // @override Reactive
        setValue(response, emittedOnLoad) {
            let val = response.data.value,
                dependsOnId = val.dependsOnId,
                initialSelectId = val.initialSelectId;

            if (dependsOnId === this.dependsOnValue) {
                return;
            }

            this.dependsOnValue = dependsOnId;
            let keepValue = emittedOnLoad && this.field.value;

            if (! keepValue) {
                this.selectedResourceId = initialSelectId;
            }

            this.clearSelection();

            if (this.shouldSelectInitialResource) {
                if (!this.isSearchable) {
                    this.initializingWithExistingResource = false
                }
                this.getAvailableResources().then(() => this.selectInitialResource())
            }
        },

        // @override BelongToField
        selectInitialResource() {
            if (this.selectedResourceId === true) {
                this.selectedResourceId = this.availableResources[0].value;
            }
            this.selectedResource = _.find(
                this.availableResources,
                // don't use ===
                r => r.value == this.selectedResourceId
            )
        },
    },
}
</script>
